
.coldHotProductsListRow{
    position: relative;
}
.coldHotarrowIconsDiv{
    
    position: absolute;
    top: 70%;
    left:33%;
    
}
.coldHotSliderItemsDiv{
    
    overflow-x: hidden;
}

.coldHotSliderItemsarrowIconDivsRight,.coldHotSliderItemsarrowIconDivsLeft{
    width: 40px;
   
    cursor: pointer;
}
.coldHotSliderItemsarrowIconDivsRight{
    padding-top: 0;
  
}
.coldHotSliderItemsarrowIconDivsLeft{
    padding-top: 0;
   
}
.coldHotSliderItemsImagesDiv {

    display: flex;
    flex-direction: row;
  
   
}
.coldHotDealsImage{
    width: 300px;
    max-width: 100%;
}
.coldHotSliderItemsImages{
    width: 100%;
    padding: 0;
    
}


.popHotsliderContainerHolder{
    position: relative;
}
.popHotsliderImageContainerHolder{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.popHotSliderImageContainer{
    display: flex;
    flex-direction: row;
}
.popHotSliderImage{
    width: 300px;
    max-width: 100%;
}
.popHotDotsDiv{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    top: 80%;
}
.popNavigateCircles{
    width: 14px;
    cursor: pointer;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .popHotSliderImage{
        width: 200px;
        max-width: 100%;
    }  
}