.topProductsListRow {
    position: relative;
}

.arrowIconsDiv {

    position: absolute;
    top: 35%;
}

.popularSliderItemsDiv {

    overflow-x: hidden;
}

.popularSliderItemsarrowIconDivsRight,
.popularSliderItemsarrowIconDivsLeft {
    width: 80px;

    cursor: pointer;
}

.popularSliderItemsarrowIconDivsRight {
    padding-top: 0;

}

.popularSliderItemsarrowIconDivsLeft {
    padding-top: 0;

}

.popularSliderItemsImagesDiv {

    display: flex;
    flex-direction: row;


}

.popularSliderItemsImages {
    width: 100%;
    padding: 0;

}



@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .popularSliderItemsImages {
        height: 180px;
        padding: 0;
    
    }   
}